@media  (min-width: 480px) and (max-width: 768px){

    .a{
        background-color: hotpink;
    }
    .b{
        background-color: rgb(233, 64, 149);
    }
    .c,.d{
        background-color: rgb(235, 36, 135);
    }
    .e,.f , .g,.h{
        background-color: rgb(177, 21, 99);
    }
    .i{
        background-color: rgb(197, 2, 99);
    }
}

@media  (min-width: 770px){
    .a{
        background-color: yellow;
    }
    .b{
        background-color: rgb(243, 243, 59);
    }
    .c,.d,.e,.f,.g,.h{
        background-color: rgb(160, 160, 60);
    }
}